export interface LocationDto {
  name?: string;
  remark?: string;
  rank?: number;
  parent?: LocationDto;
  parentId?: string;
  lastModificationTime?: Date;
  lastModifierId?: string;
  creationTime?: Date;
  creatorId?: string;
  id?: string;
}